.h3-week {
	font-family:"Arial Black", Gadget, sans-serif;
	border:1px solid black;
	border-radius:5px;
	display:table;
	padding:5px;
	margin-left:auto;
	margin-right:auto;
}

.table-timesheets {
	margin-top:5px;
}

.top-border-div {
	border-top:1px dotted black;
}

.tr-timesheets {
	font-size:14pt;
}

.tr-timesheets > th {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:13px;
	padding:6px 45px;
	text-align:center;
}

.tr-timesheets > td {
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:13px;
	border:1px solid black;
	border-radius:5px;
	padding:6px 45px;
	text-align:center;
}