
img#meteor-logo {
    width: 1em;
    margin: 0 1px 0 3px !important;
    display: inline;
    top: -4px;
    position: relative;
}

#main-content {
    margin-top: 50px;
}

@media screen and (min-width: 768px) {
    #main-content {
        margin-top: 90px;
    }
}

section {
    padding-top: 50px;
}