.data-week {
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
    border-radius: .28571429rem;
    display: table;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.data-week .ui.header {
    margin-bottom: 5px;
    margin-top: 5px;
}

.top-border-div {
    border-top: 1px dotted black;
}

.table-timesheets {
    margin-top: 5px;
}

.tr-timesheets {
    font-size: 1em;
}

.tr-timesheets:last-child {
    font-weight: bold;
}

.tr-timesheets > th {
    font-size: 1em;
    padding: 6px 45px;
    text-align: center;
}

.tr-timesheets > td {
    font-size: 1em;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
    border-radius: 5px;
    padding: 6px 45px;
    text-align: center;
}

.table-fourup {

}

.table-fourup > tbody > tr > td {
    padding: 7.5px;
    border: 1px solid rgba(34, 36, 38, .15);
    box-shadow: none;
    border-radius: 5px;
    vertical-align: top;
}

.table-cell {
    font-size: 1em;
}

.table-cell > tbody > tr > th {
    font-size: 1em;
    padding-bottom: 6px;
    text-decoration: underline;
}

.table-cell > tbody > tr > td {
    vertical-alignalign: top;
}